.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.metadata

build/
backend/functions/lib/

.flutter-plugins
android/app/google-services.json

*.lock

backend/functions/node_modules

.vscode/
nohup.out

